
<div class="bottom-navigation">
        <div class="left-buttons">
          <button mat-raised-button class="gradient-button" (click)="navigateToaddChart()">Add Chart</button>
          <button mat-raised-button class="gradient-button" (click)="navigateToaddDS()">Add Datasource</button>
        </div>
        <div class="right-buttons">
          <button mat-raised-button class="gradient-button" (click)="navigateToDiagramSettings()">manage Diagrams</button>
          <button mat-raised-button class="gradient-button" (click)="navigateToManageDS()" >manage Datasources</button>
          <!--disabled="{{noAdmin}}"-->
        </div>
</div>